<div class="hero-text">
  <div class="col-sm-8 text-left" style="font-size:18px;color:black;">
    <h1>Hello User!</h1>
    <h4>Buy, Send, & Redeem Gift Cards</h4>
    <p>
        Gift makes it easy for you to give the perfect gift card
  
        and conveniently manage them from any device!!
    </p>
  </div>
  <br><br>
    <div class="container container-fluid">
    
  <a [routerLink]="'/home/place-order'" routerLinkActive="router-link-active"> <button type="button" class="btn btn-danger btn-lg btn-block" style="max-width: 100%; min-height:100px;font-size:25px;">Place Order</button>
  </a>
</div>
  </div>
  <router-outlet></router-outlet>